chem
chem.tab.c
chem.tab.h
lex.yy.c
test
file
crnparser
*.o
src/CRN/location.hh
src/CRN/CRNParse.cc
src/CRN/CRNParse.hh
Makefile
CMakeCache.txt
CMakeFiles
bin
cmake_install.cmake
CTestTestfile.cmake
.clangd
compile_commands.json
.vscode
settings.json
result
*.csv
htmloutput/*
html
latex